<!DOCTYPE html>
<html lang="en" 
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Book manager</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

        <div th:replace="~{header :: header}"></div>

        <div class="container">
            <div class="page-header">
                <h2 class="text-info">Add Book</h2>
            </div>
            <div class="row">
                <form th:action="@{/book/save}" th:object="${book}" class="row g-3" method="post">
                    <div class="form-group col-md-12">
                        <label for="book-title" class="form-label">Title:</label>
                        <input id="book-title"
                               th:field="*{title}"
                               type="text"
                               class="form-control">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="book-author" class="form-label">Author:</label>
                        <input id="book-author"
                               th:field="*{author}"
                               type="text"
                               class="form-control">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="book-pubDate" class="form-label">Pub date:</label>
                        <input id="book-pubDate"
                               th:field="*{pubDate}"
                               type="date"
                               class="form-control">
                            <span th:if="${#fields.hasErrors('pubDate')}"
                                  th:errors="${book.pubDate}"
                                  class ="text-danger"></span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="book-pages" class="form-label">Pages:</label>
                        <input id="book-pages"
                               th:field="*{pages}"
                               type="number"
                               class="form-control">
                            <span th:if="${#fields.hasErrors('pages')}"
                                  th:errors="${book.pages}"
                                  class ="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-label">Cover type:</label>

                        <div th:each="elm:${coverTypes}" class="form-check">
                            <input th:id="${elm.getKey()}"
                                   type="radio"
                                   th:field="*{coverType}"
                                   th:value="${elm.getKey()}"
                                   class="form-check-input">
                                <label th:for="${elm.getKey()}"
                                       th:text="${elm.getValue()}"
                                       class="form-check-label">
                                    Hard cover</label>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="form-label">Genres:</label>
                        <div th:each="elm:${bookGenres}" class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   th:value="${elm}"
                                   th:id="${elm}" 
                                   th:field="*{genres}">
                                <label class="form-check-label" 
                                       th:for="${elm}"
                                       th:text="${elm}">
                                    Adventure</label>
                        </div>                    
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>